html,
body
{
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5;
}

.highlight{
  background-color: #212957;
  color: white;
}


/* CHANGE COLOR OF SIDE BAR HERE!!!*/
.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #212957; /*(default was #300030)*/
}
/*Colors:
#212957 - Uni MA
#004A61
#581D48
#602035
#255B6F
#3D1849
*/

/*
/* hyphens
 */

p.hyphens {
  -ms-hyphens: auto;
  -oz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.img-circle
{
    border-radius: 50%;
}

.headshot
{
    width: 115px;
    height: 115px;
}

.brand
{
    font-size: 2.6em;

    margin-bottom: 0;
}

.text-center
{
    text-align: center;
}

.meta
{
    font-size: .8rem !important;
    font-weight: 300;
}

pre
{
    padding: 1px;

    tab-size: 2;
}


.hljs {
    white-space: pre;

    overflow-x: auto; /* no line wrapping */
}

pre,
code
{
    font-family: monospace;
    border-radius: 4px;
    width: 100%;
    font-size: .85em;
}

code {
	padding:.15em .3em;
	background: #272932!important;
	color: #ececec!important;
	box-sizing: border-box;
	margin: 0 .25em;
}


.copyright,
.poweredby
{
    font-size: 13px !important;
    font-weight: 300;
}

img.center
{
    display: block;

    margin-right: auto;
    margin-left: auto;
}
