{{ define "header" -}}
  {{ partial "header.html" . }}
{{- end }}

{{ define "content" -}}

<h1>Welcome!</h1><br>
<p align="justify">I am a data scientist with a strong background in academic research. I hold a PhD in political science with a focus on quantitative methods from the University of Mannheim and worked as postdoctoral researcher at the Collaborative Research Center (SFB) 884. While my research focuses on political methodology, especially on spatial econometrics, Bayesian statistics, and causal modeling, I acquired practical experience in applying a variety of quantitative techniques using different software programs. Amongst others, my work has been published in peer-reviewed journals like <i>Political Analysis</i>, the <i>British Journal of Political Science</i>, <i>Political Science Research and Methods</i>, and <i>The R Journal</i>.
</p>

<!--
<p align="justify">In the light of the global COVID-19 pandemic, I am part of a research team that seeks to inform political and economic decision-makers as well as the media and the general public about the impacts of these exceptional circumstances on the German population. Using a representative panel survey, we provide daily updates and special focus reports summarizing and interpreting the most recent developments regarding the social, political, and economic consequences of the far-reaching measures adopted to contain the spread of the virus. Further details on the study and the reports can be found on the website of the <a href="https://www.uni-mannheim.de/en/gip/corona-study/" target="_blank">Mannheim Corona Study</a>.</p>
-->

<span style="display:block; height: .5cm;"></span>


<h2>Education:</h2>
<b>Dr. rer. soc. (PhD), 2020</b><br>
<div style="line-height: 1.1;"><font size="2">Graduate School of Economic and Social Sciences (GESS),<br>
	University of Mannheim</font></div><br>
<b>M.A. Political Science, 2016</b><br>
<div style="line-height: 1.1;"><font size="2">University of Mannheim</font></div><br>
<b>B.A. Social Sciences, 2014</b><br>
<div style="line-height: 1.1;"><font size="2">Justus-Liebig University Gießen</font></div>

{{- end -}}


{{ define "footer" -}}
<!--No footer-->
{{- end }}
